In [4]:
import pandas as pd
df =pd.read_csv('/Users/macbookpro/Desktop/Git/Data.csv')
df

     name  Age
0   Marya   31
1    Alex   23
2  Soniya   19
3    Kate   35

In [5]:
#Checking Dimensions of Data
df.shape

(4, 2)

In [6]:
#Getting Each Attributeâ€™s Data Type
df.dtypes

name    object
Age      int64
dtype: object

In [7]:
#Statistical Summary of Data
df.describe()

             Age
count   4.000000
mean   27.000000
std     7.302967
min    19.000000
25%    22.000000
50%    27.000000
75%    32.000000
max    35.000000