Various Methods of Loading a CSV Data File

In [14]:
#Using the CSV Module
import csv
with open ('/Users/macbookpro/Desktop/Git/Data.csv','r') as file :
    reader =csv.reader(file)
    for row in reader :
        print(row)

['name', 'Age']
['Marya', '31']
['Alex', '23']
['Soniya', '19']
['Kate', '35']

In [15]:
#Using the Pandas Library
import pandas as pd
df =pd.read_csv('/Users/macbookpro/Desktop/Git/Data.csv')
df

     name  Age
0   Marya   31
1    Alex   23
2  Soniya   19
3    Kate   35

In [16]:
#Using the Numpy Library
import numpy as np
data = np.genfromtxt('/Users/macbookpro/Desktop/Git/Data.csv',delimiter=',')
data

array([[nan, nan],
       [nan, 31.],
       [nan, 23.],
       [nan, 19.],
       [nan, 35.]])

In [29]:
#Using the Sklearn Library
import pandas as pd
from sklearn.datasets import load_iris
data = load_iris().data
data =pd.DataFrame(data)
data.head(5)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2