One-Hot Encoding

It involves creating a binary vector for each category, where each element of the vector represents the presence or absence of the category.

an example of how to perform one-hot encoding in Python using the Pandas library

In [16]:
import pandas as pd

In [17]:
data = {'color' : ['red','blue','green']}
df =pd.DataFrame(data)
df

   color
0    red
1   blue
2  green

In [18]:
one_hot_encoded = pd.get_dummies (df['color'],prefix='color')
one_hot_encoded

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            1          0

In [19]:
df = pd.concat([df,one_hot_encoded],axis =1)
df

   color  color_blue  color_green  color_red
0    red           0            0          1
1   blue           1            0          0
2  green           0            1          0

In [20]:
df =df.drop('color',axis=1)
df

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            1          0