Frequency Encoding

Frequency Encoding is another technique for handling categorical data in machine learning. It involves replacing each category in a categorical variable with its frequency (or count) in the dataset.

In [1]:
import pandas as pd

In [4]:
data ={'color' : ['red','blue','green','blue']}
df=pd.DataFrame(data)
df

   color
0    red
1   blue
2  green
3   blue

In [6]:
frequency = df['color'].value_counts(normalize=True)
frequency

blue     0.50
red      0.25
green    0.25
Name: color, dtype: float64

In [8]:
df['freq_color'] = df['color'].map(frequency)
df['freq_color']

0    0.25
1    0.50
2    0.25
3    0.50
Name: freq_color, dtype: float64

In [9]:
df = df.drop('color',axis=1)
df

   freq_color
0        0.25
1        0.50
2        0.25
3        0.50