In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
df = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")

In [5]:
df.head(3)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      22000 non-null  object
 1   language  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [7]:
df['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [8]:
df.isnull().sum()

Text        0
language    0
dtype: int64

In [9]:
X = np.array(df['Text'])
y = np.array(df['language'])

In [10]:
cv = CountVectorizer()
x = cv.fit_transform (X)

X_train , X_test, y_train, y_test=train_test_split (x,y,test_size=0.2,random_state=42)

In [11]:
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9529545454545455

In [12]:
USER = input ('Enter a Text: ')
df = cv.transform([USER]).toarray()
output = model.predict(df)
output

array(['Persian'], dtype='<U10')