In [10]:
import pandas as pd
import numpy as np

In [11]:
data1 = np.array([1,2,7,6,5,6])
data2 = np.array([1,2,3,4,5,6])

In [12]:
df1 = pd.DataFrame(data1,columns=['value'])
df1

   value
0      1
1      2
2      7
3      6
4      5
5      6

In [13]:
df2 = pd.DataFrame(data2,columns=['value'])
df2

   value
0      1
1      2
2      3
3      4
4      5
5      6

In [14]:
df1.describe()

          value
count  6.000000
mean   4.500000
std    2.428992
min    1.000000
25%    2.750000
50%    5.500000
75%    6.000000
max    7.000000

In [15]:
df1.median()

value    5.5
dtype: float64

In [16]:
df1.mode()

   value
0      6

In [17]:
STD = np.std(df2)
STD

value    1.707825
dtype: float64

In [18]:
#calculate percentile with numpy
p25 = np.percentile(data2,25)
p75 = np.percentile(data2,75)
print ('25th percentile: ',p25)
print ('75th percentile: ',p75)

25th percentile:  2.25
75th percentile:  4.75

In [19]:
#calculate percentile with pandas
p25 = df2.quantile(0.25)
p75 = df2.quantile(0.75)
print ('25th percentile: ',p25)
print ('75th percentile: ',p75)

25th percentile:  value    2.25
Name: 0.25, dtype: float64
75th percentile:  value    4.75
Name: 0.75, dtype: float64